@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

body::-webkit-scrollbar {
  display: none;
}

.audio-icon-wrapper {
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  color: black;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.timeline-panel {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
}
.timeline {
  list-style: none;
  margin-top: 1rem;
  padding: 1.4rem 0;
  position: relative;
}
.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: black;
  left: 85%;
}
.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}
.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}
.timeline li .timeline-image {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  position: absolute;
  left: 67%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 23%;
}
.timeline li .timeline-panel {
  width: 40%;
  float: left;
  left: 2%;
  border: 1px solid black;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
}
.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid black;
  border-right: 0 solid black;
  border-bottom: 15px solid transparent;
  right: -15px;
  top: 90px;
}
.timeline li .timeline-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid rgba(255, 255, 255, 0.3);
  border-right: 0 solid rgba(255, 255, 255, 0.3);
  border-bottom: 14px solid transparent;
  right: -13px;
  top: 90px;
  z-index: -1;
}
.timeline-body {
  text-align: justify; /* Ensure text is justified */
}
/* .footer-card {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
} */

.coment-form {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  border-radius: 15px;
}
.scroll-horizontal::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.alamat {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.swiper_container {
  position: relative;
}
.slider-controler {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Jarak antara gambar dan tombol navigasi */
}
.slider-arrow {
  margin: 0 10px; /* Jarak antara tombol kiri dan kanan */
}
.swiper-button-prev,
.swiper-button-next {
  position: static; /* Buat posisi tombol statis, bukan absolut */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper_container {
  max-width: 22.5rem;
  overflow: hidden;
}
.button-prev,
.button-next {
  cursor: pointer;
  z-index: 10;
}
.slider-arrow {
  position: relative;
  z-index: 99;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.surat-teks {
  font-family: "Playfair", serif;
}
body {
  font-family: "Playfair", serif;
}

.parallax {
  background-image: url("/gambar/Bgslide-2.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  transition: transform 0.2s ease-out;
  overflow: hidden;
}
.timeline-image {
  background-image: url("/gambar/couple4.jpg");
  background-size: cover;
  background-position: center;
}
.image-kedua {
  background-image: url("/gambar/couple5.jpg");
  background-size: cover;
  background-position: center;
}
.closing {
  /* background-image: url("/gambar/bg-closing.png"); */
  background-color: #000;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.comment-input {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  background-color: #ceb07c;
}

.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}
.content {
  overflow-x: hidden;
}
.content .section {
  width: 100%;
  height: 100vh;
}

.content .section.hero {
  background-image: url("/gambar/bg-closing.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  perspective: 500px;
  background: radial-gradient(circle, transparent 30%, rgba(0, 0, 0, 0.5) 31%);
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.left-section {
  overflow: hidden;
  width: 66.66%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.right-section {
  overflow-y: auto;
  margin-left: 66.66%;
  width: 33.33%;
  padding: 0;
}
.gallery {
  height: 100vh;
}
@media (max-width: 768px) {
  .left-section {
    display: none;
  }
  .right-section {
    width: 100%;
    overflow-y: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .gallery {
    height: 150vh;
  }
  .parallax {
    background-attachment: scroll;
  }
  .closing-div {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4rem;
  }
}
